__pycache__
auth.py
pythonlearn.pdf
class_list*
.ipynb_check*
assignments/
twitter_authentication.py
reddit_auth.py
.vscode/
reddit_authentication.py
day_9/*.csv
day_*files/

/.quarto/
anthropic_credentials.py
day_11/hobbies.csv
day_11/purdue_iu_comments_hobbies.csv
